*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body {
    background-color: black;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden !important;
    margin-top: -70px;
}
h3 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    margin-left: -40px;
}
.carrousel {
    display: flex;
    overflow-x: scroll;
    gap: 9px;
    z-index: 9999;
    padding-left: 9px;
    max-width: calc(100% - 40px);
}
.carrousel img {
    width: 150px;
    height: 160px;
    border-radius: 5px;
}
.equipe img {
    width: 280px;
}
.texto {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}
.logo {
    width: 120px;
}
.morango {
    z-index: 99999999999999;
    position: absolute;
    animation: zoom-in-zoom-out 1s ease infinite;
    top: 0px;
    width: 30px;
    height: 30px;
    right: -37px;
}
.morango img {
    width: 100%;
}
#bobzinho{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999999999;
    width: 300px;
}
#bobzinho img {
    width: 100%;
}